
.popup {
    width: 550px;
}

.inputLine, .inputCol {
    gap: 30px;
}

.input {
    font-size: 16px;
}

.button {
    border-radius: 8px;
    height: 44px;
}

.popup p {
    font-size: 12px;
}

@media (max-width: 575px) {
    .popup {
        width: calc(100% - 50px);
    }

    .input {
        font-size: 14px;
    }
}