@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: white;
  --purple-color: #18161D;
  --blue-color: #4E80FF;

  --header-height: 60px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Commissioner', serif;
  min-width: 320px;
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

svg {
  transition: all 0.2s;
}

input {
  outline: none;
  border: none;
  background: none;
}

svg {
  fill: white;
}

.lexend-giga {
  font-family: 'Lexend Giga', serif;
}

.max-vh {
  min-height: calc(100vh - 2 * var(--header-height));
  margin-top: var(--header-height);
}

.head {
  font-size: 24px;
}

@media (max-width: 991px) {
  :root {
    --header-height: 50px;
  }
}

@media (max-width: 767px) {
  .head {
    font-size: 22px;
  }

  .max-vh {
    margin-top: calc(var(--header-height) * 0.6);
  }
}
